@import '../styles/vars.scss';

#calculator-root {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: $unit / 2;
    margin: 0 auto $unit;
    outline: 0;
    overflow: hidden;
    width: 50%;
}

.calculation {
    padding: $unit / 2;
}

.error-message {
    color: red;
    margin-left: $unit / 2;
}

.dims {
    float: right;
    margin: $unit / 2;
    opacity: .5;
}

.usage {
    margin: 0 auto;
    width: -webpack-calc(50% + 2px);
    width: -moz-calc(50% + 2px);
    width: calc(50% + 2px);
}

.usage-table {
    width: 100%;
}
