@import '../styles/vars.scss';

#calculator-root {
    border: 1px solid black;
    margin: 0 auto $unit;
    outline: 0;
    overflow: hidden;
    // text-align: right;
    width: 50%;
}

.calculation {
    padding: $unit / 2;
}
