@import '../styles/vars.scss';

.questions-container {
    float: left;
    margin: 0 auto;
    // width: 80%;
}

.question {
    margin-left: $unit / 2;
}

.ans-area-container {
    outline: 0;
}

.ans-area {
    border: 1px solid black;
    display: inline-block;
    margin: $unit $unit;
    min-width: 100px;
    min-height: $unit * 3;
    overflow: hidden;
    padding: $unit;
    text-align: center;
}

.ans-area > span {
    vertical-align: middle;
}

.correct-ans {
    border-color: #00ff88;
}

.incorrect-ans {
    border-color: #ff0000;
}

.options-container {
    float: right;
    margin: 0 $unit;
    width: $unit * 28;
}

#options-header {
    margin: $unit * 2 0;
}

.options-container > div {
    font-size: $unit * 2;
    margin-bottom: $unit;
}
