@import '../styles/vars.scss';

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: $unit * 2;
    border-radius: $unit / 2;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: $unit * 3;
    height: $unit * 3;
    border-radius: 50%;
    background: $primary;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: $unit * 3;
    height: $unit * 3;
    border-radius: 50%;
    background: $primary;
    cursor: pointer;
}
