@import '../styles/vars.scss';

.top-bar {
    background-color: $primary;
    display: inline-block;
    height: $unit * 6;
    margin: auto !important;
    padding: $unit 0;
    width: 100%;
}

.title-text {
    font-size: $unit * 3;
    position: absolute;
    top: $unit * 2;
    left: $unit * 2;
}
