@import './styles/vars.scss';

@import '@material/data-table/mdc-data-table';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

// This is mostly here to make sure the footer works
#root {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 14px + $unit * 2; // Hight of footer
    min-height: 100%;
}

footer {
    bottom: 0;
    font-size: 14px;
    margin: $unit 0;
    opacity: .5;
    position: absolute;
    text-align: center;
    width: 100%;
}

.page {
    margin: $unit;
}

.katex {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
