@import './styles/vars.scss';

@import '@material/data-table/mdc-data-table';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

footer {
    bottom: 0;
    font-size: 14px;
    margin: $unit 0;
    opacity: .5;
    position: absolute;
    text-align: center;
    width: 100%;
}

.page {
    margin: $unit;
}

.katex {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
